@import 'vars';
@import 'fonts';

* {
	box-sizing: border-box;

	&:before,
	&:after {
		box-sizing: border-box;
	}
}

html,
body {
	height: 100%;
}

body {
	font-size: 20px;
	min-width: 320px;
	position: relative;
	line-height: 1.5;
	font-family: $lato;
	overflow-x: hidden;
	opacity: 1;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

.g--btn {
	display: inline-block;
	font-weight: 400;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 10px 20px;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 1.25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

a {
	text-decoration: none;
}