@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}

	.fixed-menu-wrapper {
		padding: 5px 0;
	}

	.map-features {
		background-image: none;

		.container {
			grid-template-columns: 1fr;
		}
	}
	.map{
		display: none;
	}

	.feature {
		margin-left: 0;
	}

	.form-for-recall {

		input {
			margin-top: 10px;
		}

	}

	.select {
		padding-right: 50px;
	}

	.offer {
		.offer__slogan {
			padding: 50px 10px 40px;
		}
	}
}

/**/
@media only screen and (max-width : 1140px) {
	.offers .container {
		grid-template-columns: 1fr;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.features {
		grid-column-gap: 34px;
	}

	.features {
		grid-template-columns: 1fr;
		grid-column-gap: 50px;
		grid-row-gap: 80px;
	}

	.phone-features {
		background-image: none;

		.container {
			grid-template-columns: 1fr;
		}

		.phone-feature {
			margin: 0;
		}
	}

	.map-features {
		margin-bottom: 120px;
	}

	.interface {
		padding: 60px 0px 120px;
	}

	.screens {
		padding-bottom: 120px;
		flex-wrap: wrap;
	}

	.screen {
		margin: 20px 85px;
	}

	.offers {
		padding: 120px 0;
	}

	.features {
		padding-bottom: 80px;
	}
}

/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.navigation-links {
		.nav-link {
			display: none;
		}
	}

	.navigation-info {

		.nav-link,
		.button {
			display: none;
		}
	}

	.footer-nav {
		grid-template-columns: 1fr;
	}

	.find-us {
		margin-bottom: 80px;
		text-align: -webkit-center;
	}

	.bloks-of-links {
		justify-items: center;
	}

	.boss {
		margin: 30px 0px;
	}

	.comment {
		.losung {
			padding: 0px 40px;
		}

		.paragraph {
			padding: 0px 40px;
		}
	}
	.swiper-slide {
		padding: 0 50px;
	}
}

/**/
@media only screen and (max-width : 590px) {
	.offer-block {
		grid-template-columns: 1fr;
	}
	.map-features {
		margin-bottom: 80px;
	}
	.interface {
		padding: 60px 0 80px;
	}
	.slider {
		padding: 80px 0;
	}
	.offers {
		padding: 60px 0 20px;
	}
	.mailing {
		padding-top: 60px;
	}
	.footer-nav {
		padding: 80px 0 80px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.bloks-of-links {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.form-for-recall {
		justify-content: center;
	}

	.screen {
		margin: 20px 40px;
	}
}

/**/
@media only screen and (max-width : 400px) {
	.bloks-of-links {
		justify-content: space-between;
	}

	.block-links {
		margin-right: 20px;
	}

}

/* Custom, iPhone Retina */
@media (min-width : 320px) and (max-width : 400px) {
	.interface {
		.form-for-recall {
			display: grid;
		}
	}

	.mailing {
		.form-for-recall {
			display: grid;

			input {
				text-align: center;
				margin-left: 0;
			}
		}
	}
}

/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	.phone-features {
		margin: 45px 0;
	}
}

/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}

/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {}

/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {}

/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}

/**/