@import "fonts";
@import "libs";
@import "base";
@import "vars";

// Пользовательские стили
// ------------------------------------
// NAVIGATION
// -------------------------------------
.fixed-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 0;
    width: 100%;
    background-color: #fff;
    z-index: 15;
    opacity: .9;
}

nav {
    padding: 20px 0px;
    width: 100%;
    font-size: 16px;

    a:hover {
        color: $blue;
    }

    .button {
        background-color: $blue;

        i {
            margin-right: 12px;
        }

        a {
            color: #fff;
        }
    }

    .nav-link {
        padding: .5rem 1.25rem;
        color: $title;
    }

    .navigation-links,
    .navigation-info,
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

}

.navigation-info {
    .nav-link:first-child {
        color: #b5b5b6;

        &:hover {
            color: $blue;
        }
    }
}

.burger-menu {
    display: inline-block;
    cursor: pointer;
}

.burger-menu__line {
    width: 20px;
    height: 2px;
    margin: 3px 0;
    transition: 0.4s;
    background-color: $title;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 4px);
    transform: rotate(-45deg) translate(-4px, 4px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-3px, -3px);
    transform: rotate(45deg) translate(-3px, -3px);
}

.logotip {
    text-transform: uppercase;

    span {
        font-weight: bold;
    }

    a {
        color: $title;
    }
}

#sidebar {
    display: none;
    margin-top: 25px;

    a {
        font-size: 16px;
        color: #26272d;
    }

    a:hover {
        color: $blue;
    }
}

//// ------------------------------------
// HEADER
// --------------------------------------
.header {
    padding-top: 100px;
    background-image: url(../img/bg-mountains.jpg);
    background-position: center;
    background-size: cover;

    .button {
        margin: 52px 0px;
        color: #000;
        border: 1px solid #dfdfe1;

        i {
            margin-right: 12px;
        }
    }
}

.head-title {
    padding-top: 80px 0px 20px;
}

.head-paragraph {
    margin: 0px auto;
    max-width: 800px;
    color: $text-color;
}

.video-wrapper {
    display: none;

    // .video {
    //     max-width: 600px;
    //     height: auto;
    //     max-height: 100%;
    // }
}

.phone-section {
    img {
        max-width: 100%;
        vertical-align: bottom;
    }
}

//// ------------------------------------
// FEATURES
// --------------------------------------
.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
    padding: 80px 0 120px;
    border-bottom: 1px solid #dfdfe1;
}

.feature {
    margin-left: 30px;
    font-size: 18px;
    color: $text-color;

    .feature__title {
        padding: 30px 0px;
        font-size: 26px;
        font-weight: lighter;
    }
}

//// ------------------------------------
// PHONE FEATURES
// --------------------------------------
.phone-features {
    margin: 120px 0px;
    background-image: url(../img/phone2.jpg);
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.phone-feature {
    margin: 40px 0px 140px 90px;
}

.title {
    font-family: $varela;
    font-size: 42px;
    color: $title;
}

.paragraph {
    margin: 50px 0;
    color: $text-color;
}

.double-buttons {
    display: flex;
    flex-wrap: wrap-reverse;

    .button:first-child {
        margin-top: 20px;
        margin-right: 20px;
        background-color: $blue;

        a {
            color: #fff;
        }

        i {
            margin-left: 45px;
        }
    }

    .button {
        margin-top: 20px;
        margin-right: 20px;
        border: 1px solid #dfdfe1;

        a {
            color: #000;
        }
    }
}

//// ------------------------------------
// MAP FEATURES
// --------------------------------------
.map-features {
    margin: 50px 0 150px;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-position: 600px 0;
    background-size: contain;

    .container {
        display: grid;
        grid-template-columns: 1fr minmax(700px, 1fr);
    }
}

.partners {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
}


.partner-icons {
    display: flex;
    align-items: baseline;

    .dropbox {
        margin-right: 27px;
        font-size: 26px;
        font-weight: bold;
        color: $blue;
    }

    .evernote {
        font-size: 20px;
        text-transform: uppercase;
        color: $green;

        i {
            font-size: 26px;
            color: $text-color;
        }
    }
}

.map {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;


    .point {
        width: 5px;
        height: 5px;
        margin-top: 40px;
    }

}

.blue {
    animation: color-change 1s .5s;
}

.bbb {
    background-color: $blue;
}

@keyframes color-change {
    0% {
        background-color: $blue;
    }

    50% {
        background-color: transparent;
    }

    100% {
        background-color: $blue;
    }
}

//// ------------------------------------
// Interface
// --------------------------------------

.interface {
    padding: 130px 0px;
    background-color: $bg;

    .title:first-child {
        text-transform: capitalize;
    }

    .line {
        margin: 40px auto;
        width: 50px;
        height: 2px;
        background-color: $blue;
    }

    .introduction-title {
        font-size: 12px;
        text-transform: uppercase;
        color: $text-color;

        span {
            font-size: 11px;
            font-weight: bold;
        }

    }

    .container:last-child {

        .introduction-title {
            margin-bottom: 25px;
        }
    }
}

.screens {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 180px;
    overflow: hidden;
}

.screen {
    transition: .5s linear;

    &:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}


.form-for-recall {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 500px;
    padding: 2px;
    margin: 40px auto 60px;
    border-radius: 25px;
    border: 1px solid #dfdfe1;

    input {
        margin-left: 25px;
        font-size: 16px;
        border: none;
        background-color: transparent;
        outline: none;
    }

    .button {
        background-color: $green;

        i {
            padding-left: 15px;
        }
    }
}

.appStore-link {
    padding: 10px 25px;
    margin: 0px auto;
    width: 210px;
    background-color: #000;
    border-radius: 25px;

    .appStore {
        display: flex;
        justify-content: space-around;
        color: #fff;
        text-decoration: none;
    }

    .appStore__text {
        p {
            margin: 0;
            line-height: 1;
        }

        p:first-child {
            font-size: 12px;
        }

        p:last-child {
            font-size: 23px;
        }
    }

    .appStore__icon {
        display: flex;
        align-items: center;
        padding-right: 10px;
        font-size: 35px;
    }
}

.swiper-container {
    max-width: 600px;
    height: auto;
}

.swiper-slide {
    padding: 0 20px;
}

.swiper-button-prev,
.swiper-button-next {
    width: 40px;
    height: 50px;
    background-color: rgba(0, 0, 0, .5);

    &:hover {
        opacity: .9;
    }
}

.swiper-button-prev {
    left: 0;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.swiper-button-next {
    right: 0;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

//// ------------------------------------
// Slider Comments
// --------------------------------------
.slider {
    padding: 120px 0;
    position: relative;
    overflow: hidden;

    .slider__wrapper {
        display: flex;
        transition: transform 0.6s ease;
    }

    .slider__item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .slider__control {
        position: absolute;
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 40px;
        height: 50px;
        color: #fff;
        opacity: 0.5;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, .5);
    }

    .slider__control:hover,
    .slider__control:focus {
        color: #fff;
        text-decoration: none;
        outline: 0;
        opacity: .9;
    }

    .slider__control_left {
        left: 0;
    }

    .slider__control_right {
        right: 0;
    }

    .slider__control::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background: transparent no-repeat center center;
        background-size: 100% 100%;
    }

    .slider__control_left::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .slider__control_right::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
}

.comment {
    margin: 0 auto;
    max-width: 580px;
    height: auto;
}

.foto-author {
    margin: 0 auto;
    max-width: 130px;
    height: auto;

    img {
        border-radius: 50%;
    }
}

.losung {
    margin-top: 65px;
    font-size: 32px;
    font-weight: lighter;
    color: $title;
}

.stars {
    i {
        color: #f2bc3b;
    }
}

.author {
    margin-top: 60px;
    font-size: 12px;
    text-transform: uppercase;
    color: #26272d;
}

//// ------------------------------------
// Offer
// --------------------------------------
.offers {
    padding: 190px 0;
    background-color: $bg;

    .container {
        display: grid;
        grid-template-columns: minmax(150px, 500px) 1fr;
    }
}

.select {
    padding-right: 130px;

    .title {
        padding: 40px 0;
        line-height: 1.25;
    }
}

.client {
    .you {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        color: $title;
    }
}

.choose-btn {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    max-width: 260px;
    border-radius: 25px;
    border: 1px solid #dfdfe1;

    .select-first {
        padding: 15px 27px;
        font-size: 16px;
        color: $text-color;
        background-color: transparent;
        border: none;
        border-radius: 25px;
        cursor: pointer;

        &:focus {
            color: $title;
            background-color: #fff;
            outline: none;
            box-shadow: 3px 3px 15px rgba(200, 201, 202, 0.5);
        }
    }

    .select-second {
        @extend .select-first;
    }
}

.communication {
    font-size: 16px;
    color: $text-color;

    a {
        color: $blue;
        text-decoration-line: underline;
        text-decoration-color: $blue;
    }
}

.offer-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.offer {
    padding: 55px 0 70px;
    transition: .5s linear;

    &:hover {
        background-color: #fff;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .offer__name {
        margin-bottom: 20px;
        font-size: 32px;
        font-weight: 300;
    }

    .offer__prise {
        display: inline-block;
        padding: 7px 15px;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
        border: 1px solid #dfdfe1;
        border-radius: 25px;
    }

    .offer__slogan {
        padding: 50px 84px 40px;
        font-size: 20px;
        color: $text-color;
    }

    .offer__description {
        p {
            font-size: 16px;
            color: $title;
        }

        i {
            margin-right: 5px;
            color: $green;
        }
    }

    &:first-child {
        p:last-child {
            visibility: hidden;
        }
    }

    .button {
        margin-top: 70px;
        padding-left: 40px;
        padding-right: 40px;
        color: $blue;
        border-color: $blue;
    }
}

.offer-block-company {
    display: none;
}

//// ------------------------------------
// Mailing
// --------------------------------------
.mailing {
    padding: 70px 0;
    border-bottom: 1px solid #dfdfe1;

    .form-for-recall {
        margin-bottom: 25px;

        input {
            background-color: #fff;
        }
    }

    .introduction-title {
        font-size: 14px;
        color: $text-color;
    }
}

.error input {
    border: 1px solid red;
}

.error {
    color: red;
}

//// ------------------------------------
// Footer
// --------------------------------------
.footer-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0px 120px;
    border-bottom: 1px solid #dfdfe1;


    .paragraph {
        margin: 25px 0px;
        max-width: 260px;
        font-size: 14px;
    }

    .appStore-link {
        margin: 0;
        margin-bottom: 35px;
        padding: 10px;
        border-radius: 7px;

        .appStore__icon {
            padding-right: 0px;
        }
    }
}

.social-icons {
    font-size: 23px;

    a {
        margin-right: 17px;
        color: $text-color;
        transition: .2s;
    }

    a:hover {
        color: $blue;
    }
}

.bloks-of-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.block-links {
    p {
        margin-bottom: 18px;
        font-size: 16px;

        a {
            color: $text-color;
            text-decoration: none;

            &:hover {
                color: $blue;
            }
        }
    }

    .link-title {
        margin-bottom: 18px;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.copyright {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding: 25px 0;
}

.boss {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;

    div {
        display: inline-block;
    }

    img {
        margin-top: -6px;
    }
}

@import "media"; // Всегда в конце